@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white-1: #FFFFFFE5;
    --white-2: #FFFFFF;
    --white-4: #FFFFFF1A;
    --white-5: #FFFFFF4D;
    --white-6: #DBE2EE;
    --black-1: #0000004D;
    --black-2: #2B2B2B;
    --base: #FF6716;
}

*, *::before, *::after {
    font-family: 'Inter', Arial, sans-serif;
}
body {
    background-color: #333 !important;
}
.font-16-light-150-n1 {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 150%;
    letter-spacing: 0.032px !important;
}

.font-16-bold-175-n1 {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 28px;
    letter-spacing: -0.16px !important;
}

.font-16-bolder-175-n1 {
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 28px;
    letter-spacing: 0.8px !important;
}

.font-18-bold-150 {
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 150%;
}

.font-24-light-32p-n1 {
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 32px;
    letter-spacing: -0.24px !important;
}

.font-36-light-42p-n1 {
    font-size: 36px !important;
    font-weight: 400 !important;
    line-height: 42px;
    letter-spacing: -0.36px !important;
}

.font-36-bold-32p-n1 {
    font-size: 36px !important;
    font-weight: 600 !important;
    line-height: 32px;
    letter-spacing: -0.36px !important;
}

.font-36-bold-42p-n1 {
    font-size: 36px !important;
    font-weight: 600 !important;
    line-height: 42px;
    letter-spacing: -0.36px !important;
}

.font-80-bolder-105-n1 {
    font-size: 80px !important;
    font-weight: 700 !important;
    line-height: 84px;
    letter-spacing: -1.6px !important;
}

.font-col-white {
    color: var(--white-1) !important;
}

.font-col-gray {
    color: var(--white-6) !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    background-image: url(../img/icons/mobile-nav-icon.svg) !important;
    border: none !important;
}
/* custom component styles  */
.custom-button {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    min-width: 300px;
    cursor: pointer;
    display: inline-block;

}

.opacity-4 {
    opacity: 0.4;
}
/* hero-container section  */
.hero-container > .background-container {
    background-image: url(../img/background/hero-bg.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* nav bar  */
.nav-bar-style {
    justify-content: end;
}

.nav-link.font-col-white:hover {
    color: var(--base) !important;
}

nav.navbar.navbar-expand-sm {
    padding: 30px 0;
    border-bottom: 1px solid var(--white-2);
}

ul.navbar-nav {
    gap: 40px;
}

/* hero-section  */
.hero-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 680px;
}

.hero-section {
    text-align: center;
}

.hero-section-button {
    background-color: var(--white-4);
    border-color: var(--white-5);
    backdrop-filter: blur(12px);
    text-align: center;
}

/* bot-section  */
.bot-section-background {
    background-color: var(--black-1);
    backdrop-filter: blur(12px);
}
.bot-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

.bot-section-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bot-section-part-title {
    color: var(--white-2);
}

/* intro-container */
.intro-container-background {
    background-image: url(../img/background/intro-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 755px;
    padding-top: 115px;
}

.intro-content {
    max-width: 490px;
}

.intro-section-button {
    background-color: var(--base);
    border-color: var(--white-5);
    backdrop-filter: blur(12px);
    text-align: center;
}

/* setups-container */
.setups-title {
    max-width: 570px;
    margin: 72px auto 60px;
    text-align: center;
}

.setups-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 72px;
    align-items: center;
}

.setups-gallery-part {
    width: calc(50% - 30px);
    max-width: 620px;
}

.setups-gallery-part > img {
    width: 100%;
}

.setups-gallery-part > div {
    margin-top: 24px;
}

/* easy-to-setup-container */
.easy-to-setup-background {
    background: linear-gradient(180deg, #333 0%, rgba(51, 51, 51, 0.00) 100%), url(../img/background/easy-to-setup-bg.gif), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    height: 840px;
}

.easy-to-setup-content {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 50px;
}

.easy-to-setup-content > .desc {
    width: 600px;
}
/* compact-container */
.compact-container {
    background-color: var(--white-2);
}

.compact-content {
    padding: 72px 0;
}

.compact-content-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;
    gap: 25px;
}
.compact-content-background {
    margin-bottom: 50px;
}
.compact-content-background > img {
    width: 100%;
    max-height: 590px;
}

/* arrows-numbers */
.arrows-numbers-background > img {
    width: 100%;
    object-fit: contain;
}
.arrows-numbers-desktop {
    display: inline-block;
}

.arrows-numbers-mobile {
    display: none;
}

/* mobile app  */
.mobile-app-content {
    text-align: center;
}
.mobile-app-background {
    padding: 72px 0;
}
.mobile-app-images {
    text-align: center;
}
.mobile-app-images-container {
    position: relative;
    display: inline-block;
    margin-top: 200px;
    margin-bottom: 200px;
}
.mobile-app-images-horizantal {
    display: flex;
    margin: auto;
    max-width: 780px;
}
.mobile-app-images-horizantal-tv {
    width: 69%;
}
.mobile-app-images-horizantal-tv > img {
    width: 100%;
}
.mobile-app-images-horizantal-ipad {
    width: 31%;
}
.mobile-app-images-horizantal-ipad > img {
    width: 100%;
}
.mobile-app-images-vertical {
    display: inline-block;
    position: absolute;
    width: 39.5%;
    top: -40%;
    left: 34%;
}
.mobile-app-images-vertical > img {
    width: 100%;
}
.mobile-app-introduction {
    text-align: center;
}

.mobile-app-introduction-decs {
    max-width: 640px;
    margin: auto;
}
.google-app-store {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.google-app-store > button {
    padding: 0;
    background-color: transparent;
    border: none;
    width: calc(50% - 10px);
    max-width: 170px;
}
.google-app-store > button > img {
    width: 100%;
}
/* gallery container section  */
.gallery-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.gallery-imgs {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    align-items: center;
}
.gallery-explanation {
    width: 40%;
    padding: 72px 0 55px 50px;
}
.gallery-explanation-button {
    background-color: var(--black-2);
}
.gallery-imgs > div {
    width: calc((100% / 3) - 20px);
}
.gallery-imgs > div > img {
    width: 100%;
}
.gallery-explanation-decs {
    max-width: 400px;
}
/* faq container  */
/* cta-container  */
.cta-price {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
/* footer container section  */
.footer-container {
    padding: 55px 0;
    margin: auto;
    text-align: center;
}
.footer-links-part {
    text-align: left;
}
.footer-links-part-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-links-part-title {
    opacity: 0.4;
    margin-bottom: 20px;
}
.footer-links-part-content > a {
    text-decoration-line: none !important;
}

/* responsive  */
@media screen and (max-width: 992px) {
    .setups-gallery {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .setups-gallery-part {
        width: 100%;
    }
    .gallery-container {
        flex-direction: column;
    }
    .gallery-imgs {
        width: 100%;
        justify-content: center;
    }
    .gallery-explanation {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    /* hero-section  */
    .bot-section {
        height: 100px;
    }
    .bot-section-part {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .bot-section-part > img {
        width: 24px;
    }

    .bot-section-part > .bot-section-part-title {
        font-size: 10px !important;
        letter-spacing: -0.1px !important;
    }

    .intro-content > .font-36-light-42p-n1 {
        font-size: 24px !important;; 
    }
    .intro-content > .font-16-light-150-n1 {
        font-size: 12px !important; 
    }
    .intro-container-background {
        min-height: 490px;
        padding-top: 55px;
    }

    .setups-title {
        font-size: 24px !important;
    }

    .setups-gallery-part > div > .font-24-light-32p-n1 {
        font-size: 16px !important;
    }

    .setups-gallery-part > div > .font-16-light-150-n1 {
        font-size: 12px !important;
    }

    .easy-to-setup-background {
        height: 465px;
    }
    
    .easy-to-setup-content {
        flex-direction: column;
        gap: 20px;
    }
    
    .easy-to-setup-content > .desc {
        width: auto;
    }
    .easy-to-setup-content > .font-36-light-42p-n1 {
        font-size: 24px !important;
    }
    .easy-to-setup-content > .font-16-light-150-n1 {
        font-size: 12px !important;
    }

    .mobile-app-introduction > .font-36-bold-42p-n1 {
        font-size: 24px !important;
    }
    .mobile-app-introduction-decs {
        font-size: 12px !important;
    }

    .compact-content {
        padding: 55px 0;
    }
    
    .compact-content-wrapper {
        margin-bottom: 30px;
        flex-direction: column;
    }
    .compact-content-background {
        margin-bottom: 50px;
    }

    .compact-content-wrapper > .compact-content-title {
        font-size: 24px !important;
    }

    .compact-content-wrapper > .compact-content-desc {
        font-size: 12px !important;
    }
    .footer-links-part-title {
        font-size: 10px !important;
    }
    .footer-links-part-content > a {
        font-size: 10px !important;
    }
    .company-info {
        font-size: 10px !important;
    }

    .mobile-app-images-container {
        margin-top: 150px;
        margin-bottom: 150px;
    }
}

/* responsive  */
@media screen and (max-width: 576px) {
    /* hero-section  */
    .bot-section {
        height: 100px;
    }
    ul.navbar-nav {
        gap: 10px;
    }
    .hero-section-title {
        font-size: 42px !important;
    }
    .hero-section-decs {
        font-size: 16px !important;
    }
    .custom-button {
        padding: 8px 16px;
        min-width: 175px;
        font-size: 12px !important;
    }

    .arrows-numbers-desktop {
        display: none;
    }
    
    .arrows-numbers-mobile {
        display: inline-block;
    }

    .mobile-app-images-container {
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .gallery-explanation > .font-36-bold-32p-n1 {
        font-size: 24px !important;
    }
    .gallery-explanation > .font-16-light-150-n1 {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 450px) { 
    .mobile-app-images-container {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}